@font-face {
  font-family: 'manshoor';
  src: url('../font/manshoor.eot?96270912');
  src: url('../font/manshoor.eot?96270912#iefix') format('embedded-opentype'),
       url('../font/manshoor.woff2?96270912') format('woff2'),
       url('../font/manshoor.woff?96270912') format('woff'),
       url('../font/manshoor.ttf?96270912') format('truetype'),
       url('../font/manshoor.svg?96270912#manshoor') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'manshoor';
    src: url('../font/manshoor.svg?96270912#manshoor') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "manshoor";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-sintering-01:before { content: '\e800'; } /* '' */
.icon-camera-01:before { content: '\e801'; } /* '' */
.icon-cases-01:before { content: '\e802'; } /* '' */
.icon-dashboard-01-01:before { content: '\e803'; } /* '' */
.icon-design-01:before { content: '\e804'; } /* '' */
.icon-doctor-01:before { content: '\e805'; } /* '' */
.icon-employees-01:before { content: '\e806'; } /* '' */
.icon-feedback-01:before { content: '\e807'; } /* '' */
.icon-finishing-01:before { content: '\e808'; } /* '' */
.icon-invoice-01:before { content: '\e809'; } /* '' */
.icon-lab-01:before { content: '\e80a'; } /* '' */
.icon-repeat-01:before { content: '\e80b'; } /* '' */
.icon-report-01:before { content: '\e80c'; } /* '' */
.icon-delivery-01:before { content: '\e80d'; } /* '' */
.icon-control-check-01:before { content: '\e80e'; } /* '' */
.icon-job-types-01:before { content: '\e80f'; } /* '' */
.icon-milling-01:before { content: '\e810'; } /* '' */
.icon-happy-01-01:before { content: '\e811'; } /* '' */
.icon-unhappy-02-01:before { content: '\e812'; } /* '' */
.icon-neutral-03-01:before { content: '\e813'; } /* '' */
.icon-materials:before { content: '\e814'; } /* '' */