@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.ttf");
  }
body {
    background-color: black;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.main-body {
    padding: 25px 18px;
}
.main-body  h2 {
    margin-bottom: 15px;
}
table {
    margin: 0!important;
}
.table-dark td, .table-dark th, .table-dark thead th {
    background-color: #000;

}
.tableheader {
    background-color: #141414!important;
    width: 33.33%;
}
.status {
    padding: 0px 15px;
    margin: auto;
    border-radius: 30px;
    height: 27px;
}
.pink {
    background: #F03674;
}
.active {
    background-color: #2A71E8;
}
.green {
    background-color: #1CBFAE;
}
.invisible-cases {
    background-color: #ffffff;
    padding: 6px 20px;
}
.invisible-cases span img {
    height: 28px;
}
.invisible-cases span {
    color: #000;
    margin-right: 20px;
}
