@font-face {
    font-family: "Cairo-Bold";
    src: url("../font/cairo_arabic_font/Cairo-Bold.ttf");
}

@font-face {
    font-family: "Cairo-Regular";
    src: url("../font/cairo_arabic_font/Cairo-Regular-2.ttf");
}

@font-face {
    font-family: "Cairo-Light";
    src: url("../font/cairo_arabic_font/Cairo-Light-1.ttf");
}

.white-section-title {
    line-height: 45px;
}

h1, h2, h3 {
    font-family: "Cairo-Bold";
}

.field-label,
.upload-hint {
    font-family: "Cairo-Light";
}

body *{
    direction: rtl;
    text-align: right;
    font-family: "Cairo-Regular";
}

::placeholder {
    font-family: "Cairo-Light";
}

:-ms-input-placeholder {
    font-family: "Cairo-Light";
}

::-ms-input-placeholder {
    font-family: "Cairo-Light";
}

.text-right,
.text-right * {
    text-align: left!important;
}

.text-center * {
    text-align: center;
}
/** general **/
.filter-section {
    text-align: left;
}

.bootstrap-select > .btn.dropdown-toggle {
    padding-left: 30px;
    padding-right: 15px;
}

.sort-area {
    float: left;
    text-align: right;
}

.bootstrap-select > .dropdown-toggle:after {
    right: auto;
    left: 3px;
    margin-left: 0;
}

.popup-submit-btn {
    text-align: left;
}
/** end general **/
/** header **/
.header-lang::before {
    right: auto;
    left: 13px;
}

.header-serch-input {
    padding-left: 10px;
    padding-right: 50px;
}

.btn.header-serch-submit {
    left: auto;
    right: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header-profile-img {
    margin-right: 0;
    margin-left: 10px;
}

.header-notifications.has-new::before,
.profile-menu,
.profile-menu-mobile {
    right: auto;
    left: 0;
}
/** end header **/
/** footer **/
.footer-links li {
    padding-right: 0;
    padding-left: 10px;
}
/** end footer **/
/** Homepage **/
.home-video-slider .slick-list.draggable,
.reviews-slider .slick-list.draggable{
    direction: ltr;
}

.explore-section {
    text-align: left;
}

.explore-icon {
    margin: 0 15px 0 0;
}

.advisor-icons .item {
    border-left: 0;
    border-right: 1px solid #d6d6d6;
}

.advisor-slider .slick-list {
    direction: ltr;
}
.advisor-slider .slick-track {
    margin-left: 0;
    margin-right: 7%;
}
/** end Homepage **/
/** login form **/
.login-form .forget-password {
    text-align: left;
}
/** end login form **/
/** notifications **/
.notification-item.active::before {
    right: auto;
    left: 20px;
}
/** end notifications **/
/** sign up **/
@media (min-width: 991px) {


    .o-or-divider:after,
    .o-or-divider:before {
        border-right: 1px solid #a1a1a1;
        border-left: 1px solid #e0e0e0;
        left: auto;
        right: 50%;
    }
}

@media (max-width: 991px) {
    .o-or-divider:after {
        float: left;
    }

    .o-or-divider:before {
        float: right;
    }
}

.remove-specialty-row {
    right: auto;
    left: 4px;
}

.add-specialty-btn i,
.add-time-btn i {
    padding-left: 0;
    padding-right: 15px;
}
/** end sign up **/
/** edit profile **/
.user-profile-calendar .fc-day-grid-event:hover .fc-content {
    padding-left: 0;
    padding-right: 2px;
}
/** end edit profile **/
/** forms fields **/
.edit-image-icon {
    right: auto;
    left: -10px;
}

.edit-image-icon i {
    margin-left: 0;
    margin-right: -5px;
}

.bootstrap-select.field-control > .btn.dropdown-toggle {
    padding-right: 0;
}

.field-relation {
    padding-right: 0;
    margin-right: 0;
    padding-left: 13px;
    margin-left: 13px;
}

.field-relation.edit-profile {
    margin-right: 0;
    padding-left: 0;
    margin-left: 8px;
}

.field-relation::before {
    right: auto;
    left: 0;
}


.file-block {
    background-position: 99% 6px;
    padding-left: 30px;
    padding-right: 40px;
}

.file-block .field-label {
    direction: ltr;
}

.selected-files-list {
    text-align: right;
}

.close-file-icon,
.download-file-icon {
    right: auto;
    left: 8px;
}

.remove-shared-file {
    right: auto;
    left: -13px;
    text-align: center;
    padding: 0;
}

.custom-control-label:before {
    left: auto;
    right: -35px;
}

.custom-control {
    padding-left: 0;
    padding-right: 35px;
}

.custom-control-label:after {
    left: auto;
    right: -38px;
}

.show-next-signup i {
    margin-left: 0;
    margin-right: 15px;
}

.show-prev-btn {
    padding-left: 11px;
    padding-right: 6px;
}

.show-prev-btn i {
    margin-right: 0;
    margin-left: 15px;
}

.submit-btn {
    margin-left: 0;
    margin-right: 20px;
}
/** end forms fields **/
/** profile availability **/
.days-list li {
    margin: 0 0 20px 10px;
}

.edit-days-btn {
    text-align: left;
}
/** end profile availability **/
/** advisor profile from user **/
.number-advice {
    margin-left: 0;
    margin-right: 20px;
}

.languages-list li {
    margin-right: 0;
    margin-left: 5px;
}

.certification-list li {
    margin: 0 0 10px 10px;
}

.certification-list li a,
.certification-list li p {
    text-align: center;
}

.video-thumbnail {
    left: auto;
    right: 0;
}

.profile-img-holder.active:before {
    right: auto;
    left: 20px;
}

.play-icon {
    left: auto;
    margin-left: 0;
    right: 50%;
    margin-right: -45px;
}
/** end advisor profile from user **/
/** Reserve your session page **/
.times-block-btn {
    text-align: right;
}

.times-block-btn.selected::before {
    right: auto;
    left: 10px;
}

.copoun-field {
    padding-left: 0;
    padding-right: 15px;
}
/** End reserve your session page **/
/** session page **/
.info-list {
    padding-left: 0;
    padding-right: 60px;
}

.second-info-list {
    padding-right: 0;
    padding-left: 30px;
}
/** end session page **/
/** my calendar page meetings list **/
.meeting-item {
    padding: 10px 10px 10px 40px;
}

.meeting-item:hover::before {
    right: auto;
    left: 10px;
}

.meeting-item::before {
    right: auto;
    left: 14px;
}
/** end my calendar page meetings list **/
/** rating **/
.rate-value {
    text-align: left;
}

.rate-value h3 {
    text-align: left;
}
/** end rating **/
/** FAQ page **/
.btn-faq {
    padding-left: 0;
    padding-right: 50px;
}

.btn-faq::before {
    left: auto;
    right: 5px;
}

.faq-content {
    padding-left: 0;
    padding-right: 50px;
}
/** end FAQ page **/
/** media query **/
@media (max-width: 1270px) {
    .header-lang {
        padding-left: 0;
        padding-right: 10px;
    }
}

@media (max-width: 1100px) {
    .mobile-header-menu {
        margin-left: 0;
        margin-right: 20px;
    }

    .mobile-header-menu .btn-register {
        margin: 0 0 0 10px;
    }

    a.header-notifications {
        margin-right: 15px;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .sort-area {
        float: right;
    }

    .sort-area.w-auto {
        float: left;
    }
}

@media (max-width: 580px) {
    .form-search {
        left: auto;
        right: 15px;
    }

    .edit-days-btn {
        text-align: right;
    }

    .login-form .forget-password {
        text-align: right;
    }
}
/**  end media query **/

.edit-image-icon {
    text-align: center;
}

.fc-icon.fc-icon-right-single-arrow::before {
    content: "\e801";
}

.fc-icon.fc-icon-left-single-arrow::before {
    content: "\e800";
}

.explore-icon {
    transform: rotate(-180deg);
}
.upload-hint{
    text-align: center;
}

.icon-right:before {
    content: '\e88c';
}

.icon-left:before {
    content: '\e88d';
}

.icon-group-19520:before {
    content: '\e801';
}

.icon-group-19521:before {
    content: '\e800';
}

.top-tabs {
    padding: 0;
}

.meeting-item::before {
    content: "\e801";
}

.form-control.is-valid,
.form-control.is-invalid {
    background-position: left calc(0.4em + 0.1875rem) center;
    padding-right: 10px;
}

@media (max-width: 580px) {
    .footer-text {
        text-align: center!important;
    }
}

button.btn.times-block-btn {
    direction: ltr;
}
.bootstrap-select .dropdown-toggle.bs-placeholder .filter-option-inner-inner {
    font-family: "Cairo-Regular";
}

.advisor-currency {
    /* direction: ltr; */
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    max-width: calc(100% - 30px);
}

.availability-advisor-topic.availability-page {
    padding-right: 0;
    padding-left: 10px;
}

.availability-advisor-topic.availability-page::before {
    right: auto;
    left: 7px;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    left: 15px;
    right: auto;
    top: 5px;
}

.bootstrap-select.show-tick .dropdown-menu li a span.text {
    margin-right: 0;
    margin-left: 34px;
}

.btn-default-gray.reset-date {
    margin-right: 0;
    margin-left: 20px;
}

.close-popup-btn {
    right: auto;
    left: -17px;
}

input[type="range"].rating-input::before {
    left: auto;
    right: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.advisor-topic-name::before {
    right: auto;
    left: 2px;
}

.withdraw-btn-section {
    text-align: left;
}

.withdraw-total .custom-tooltip {
    right: auto;
    left: -180px;
}

.custom-tooltip::before {
    left: auto;
    right: -10px;
    border-right: 0;
    border-left: 16px solid #676eb5;
}

.filter-section nav {
    width: auto;
    display: inline-block;
}

@media(max-width: 1200px) {
    .withdraw-btn-section {
        text-align: left;
    } 
}

@media (max-width: 580px) {
    .btn-faq {
        text-align: right;
        padding-right: 35px;
    }
    
    .faq-content {
        padding-right: 35px;
    }

    .icon-union-3.field-icon::before {
        margin: 5px 0px 5px 10px;
    }
}

.wickedpicker {
    height: 100px;
}

.fc-toolbar.fc-header-toolbar .fc-button {
    transform: rotate(180deg);
}

.back-button {
    transform: rotate(-180deg);
}

.wpwl-control.wpwl-control-iframe.wpwl-control-cardNumber,
.wpwl-control.wpwl-control-expiry {
    direction: ltr!important;
}
